<table class="table table-dark table-stripped">
  <tr>
      <% results.fields.forEach(function(f) { %>
          <th>
            <%= f.name %>
          </th>
      <% }); %>
  </tr>
  <% results.rows.forEach(function(r) { %>
      <tr>
        <% results.fields.forEach(function(f) {
          if (f.dataTypeID == 1082){
            let value = '-';
            if (r[f.name]){
              let dateField = new Date(r[f.name]);
              value = `${dateField.getFullYear()}-${dateField.getMonth() + 1}-${dateField.getDate()}`;
            }
            %>
            <td><%= value %></td>
          <% } else { %>
            <td><%= r[f.name] %></td>
          <% }
        }); %>
      </tr>
  <% }); %>
</table>