<table class="table table-dark table-stripped shadow p-4 mb-4">
    <tr>
        <% resultTable.results.fields.forEach(function(f) { %>
            <th>
              <%= f.name %>
            </th>
        <% }); %>
    </tr>
    <% resultTable.results.rows.forEach(function(r) { %>
            <tr onclick="redirectToSpecified(<%= r[resultTable.idFieldName] %>, '<%= resultTable.tableName %>')">
                <% resultTable.results.fields.forEach(function(f) { %>
                    <td><%= r[f.name] %></td>
                <% }); %>
            </tr>
    <% }); %>
</table>