<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top navbar-scrollspy">
  <ul class="navbar-nav">
    <% resultTables.forEach(function(table) { %>
      <li class="nav-item">
        <a class="nav-link" href="#<%= table.tableDisplayName %>"><%= table.tableDisplayName %></a>
      </li>
    <% }); %>
  </ul>
</nav>