<% resultTables.forEach(function(table) { %>
  <div class="container">
    <h2> <%= table.tableDisplayName %> </h2>
    <p style="visibility: collapse;" class="table-name"><%= table.tableName %></p>
    <%- include('../partials/db-basic-table', {results: table.results}); %>
  </div>
<% }); %>