<% resultTables.forEach(function(table) { %>
  <div class="container" id="<%= table.tableDisplayName %>">
    <div class="jumbotron shadow p-4 mb-4">
      <h2> <%= table.tableDisplayName %> </h2>
      <%- include('../partials/db-basic-table', {results: table.results}); %>
    </div>
  </div>
<% }); %>