<table class="table">
    <% simpleInsertTableNames.forEach(function(name) { %>
        <tr>
          <td><h4><%= name.table_name %></h4></td>
          <td><a href="/db/insert/<%= name.table_name %>" class="btn btn-info" role="button"> Wprowadź dane </a></td>
        </tr>
    <% }); %>
  </table>