<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/header'); %>
</head>

<body>

  <%- include('../partials/nav'); %>

  <% resultTables.forEach(function(table) { %>
    <div class="container">
      <h2> <%= table.tableName %> </h2>
      <%- include('../partials/db-basic-table', {results: table.results}); %>
    </div>
  <% }); %>
</body>

</html>