<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/header'); %>
</head>

<body>

  <%- include('../partials/nav'); %>

  <div class="container">
    <h2>Database Results</h2>

    <%- include('../partials/db-basic-table', results); %>

  </div>

</body>

</html>