<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <%- include('../partials/nav'); %>
  <%- include('../partials/header', {headerText: 'Baza Danych'}); %>

  <div class="container">
    <div class="jumbotron">
      <h2>Przegląd danych</h2>
      <div class="m-5 text-center">
        <a href="/db/allTables" class="btn-lg btn-info p-3" role="button"> Wszystkie Tabele </a>
      </div>
      <div class="m-5 text-center">
        <a href="/db/allViews" class="btn-lg btn-info p-3" role="button"> Wszystkie Widoki </a>
      </div>
      <div class="m-5 text-center">
        <a href="/db/report" class="btn-lg btn-info p-3" role="button"> Raporty </a>
      </div>

      <h2>Wprowadzanie danych</h2>
      <%- include('../partials/show-insert-table-names-and-links'); %>
    </div>
  </div>

</body>

</html>