<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/header'); %>
</head>

<body>

  <%- include('../partials/nav'); %>

  <div class="container">
    <a href="/db/all"> Wszystkie </a>
    <a href="/db/report"> Raporty </a>
  </div>

</body>

</html>