<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/header'); %>
</head>

<body>

  <%- include('../partials/nav'); %>

  <div class="container">
    <h1>dupa</h1>
    <p>dupa2</p>
  </div>
</body>

</html>