<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/header'); %>
</head>

<body>

  <%- include('../partials/nav'); %>

  <div class="container">
    <div class="jumbotron bg-secondary text-white">
      <h1>Opis projektu</h1>
      <ul>
        <li>elem</li>
        <li>elem</li>
      </ul>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, ad explicabo veniam, debitis sapiente possimus dicta atque quaerat reiciendis enim repudiandae odio ea numquam quia reprehenderit labore facere deserunt excepturi?</p>
    </div>
  </div>

</body>

</html>