<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <%- include('../partials/nav'); %>
  <%- include('../partials/header', {headerText: 'Informacje'}); %>

  <div class="container">
    <div class="jumbotron bg-secondary text-white">
      <h1>Opis projektu</h1>
      <p>Ta strona jest interfejsem graficzym do bazy danych reazlizowanej na zajęcia Bazy Danych I 2020/21.</p>
      <h4>Autor:</h4>
      <p>Konrad Walas</p>
      <h4>Link do projektu aplikacji w serwisie GitHub:</h4>
      <p><a href="https://github.com/kerdamon-university-tasks/BD1-projekt" class="text-white">Github</a></p>
      <h4>Link do dokumentacji i plików sql:</h4>
      <p><a href="https://github.com/kerdamon-university-tasks/BD1-projekt/tree/master/other" class="text-white">Pliki</a></p>
    </div>
  </div>

</body>

</html>