<% if (!(field.name === commonFieldName)) { %>
  <div class="form-group">

    <%
    let fdata = {
      fname:`${tableName}-${field.name}_${String(value).padStart(5, '0')}`,
      flabel: `${field.name}`
    } 

    if (field.type === 16){
      fdata.ftype = 'checkbox';
      fdata.fvalue = 'true';
    } else {
      fdata.ftype = 'text';
      fdata.fvalue = value;
    }

    if (field.name === secondPkFieldName) {
      fdata.fdisabled = 'disabled';
    }
    %>

    <%- include('input', fdata) %> 
  </div>
<% } %>